
<% include ./partials/header %>
<body>
<div class="container" id="intromain">
    <div class="jumbotron">
        <div class="container">
            <!--<hr id="one">-->
            <!--<hr id="two">-->
            <!--<hr id="three">-->
        <h1>THE MANIPUR BLOG</h1>
        <hr>
        <p>The Untold stories of a lost kingdom of South East Asia</p>
    </div>
     <a href="/signup">
    <div  id="bu">
        START
    </div>
    </a>
    </div>
    </div>
 <% include ./partials/footer %>   
    

